<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kal.connect">
    <!-- To track the internet connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Location Access -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Camera / Gallery -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="app.cloudstringers.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name=".customLibs.appCustomization.CustomApplication"
        android:allowBackup="false"
        android:configChanges="locale"
        android:icon="@mipmap/ayurvedha"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ayurvedha"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".modules.dashboard.BuyMedicine.OrderHistoryActivity"
            android:exported="false" />
        <activity android:name=".modules.dashboard.AccountDetails.MyEarningsActivity" />
        <activity android:name=".modules.dashboard.BuyMedicine.ConfirmAddressAndPayActivity" />
        <activity android:name=".modules.dashboard.BuyMedicine.OrderSummaryActivity" />
        <activity android:name=".modules.communicate.CallEndedActivity" />
        <activity android:name=".modules.dashboard.BuyMedicine.OrderSuccessfulActivity" />
        <activity
            android:name=".utilities.SplashActivity"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.authentication.SignInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.DashboardMapActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BookAppointment.DoctorsListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.hospitals.HospitalsListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BookAppointment.AboutDoctorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.hospitals.AboutHospitalActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BookAppointment.AppointmentSummaryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BookAppointment.healthseeker.HealthSeekerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.communicate.ChatActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.communicate.VideoCallerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.AppointmentsDetails.AppointmentDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.communicate.VideoConferenceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.communicate.IncomingCallActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.payment.PaymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.WebViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.PDFViewerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BookAppointment.ScheduleAppointment"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BookAppointment.PatientHistoryActivityS2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BuyMedicine.AddProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BuyMedicine.MedicineActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BuyMedicine.PrescriptionUploadActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.dashboard.BuyMedicine.MyPrescriptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".customLibs.fcm.OnClearFromRecentService"
            android:stopWithTask="false" /> <!-- For internet connectivity -->
        <receiver
            android:name=".customLibs.noInternetAlert.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- FCM -->
        <!-- <service android:name="com.patientapp.customLibs.fcm.MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service android:name="com.patientapp.customLibs.fcm.MyFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".customLibs.fcm.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".customLibs.fcm.MyFirebaseInstanceIDService">
            <intent-filter android:priority="1000">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".modules.communicate.services.MyInCallService">

            <!-- android:permission="android.permission.BIND_INCALL_SERVICE"> -->
            <!-- <meta-data android:name="android.telecom.IN_CALL_SERVICE_UI" android:value="true" /> -->
            <!-- <meta-data android:name="android.telecom.IN_CALL_SERVICE_RINGING" -->
            <!-- android:value="true" /> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.telecom.InCallService"/> -->
            <!-- </intent-filter> -->
        </service>
        <service android:name=".modules.communicate.services.HeadsUpNotificationService" />

        <receiver android:name=".modules.communicate.services.HeadsUpNotificationActionReceiver" /> <!-- Google Map -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAr2tbVoLqiZLD6cAC9M4wU0uL0aqMbGLs" /> <!-- android:value="AIzaSyAr2tbVoLqiZLD6cAC9M4wU0uL0aqMbGLs" /> -->
        <!-- android:value="AIzaSyCM7r4QxG0BXtXiX_UjYwYlFa0aA2LgWlo" /> -->
        <!-- android:value="AIzaSyAXXVTrvSJ8S-x9OfyjMFGJ_rlP_kHw2nA" /> -->
        <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_pkcsjivTghjNsf" />

        <activity android:name=".modules.dashboard.BookAppointment.IssueDescriptorMapActivityS3" />
        <activity android:name=".modules.dashboard.BookAppointment.PaymentWebVwActivity" />
        <activity android:name=".modules.dashboard.AccountDetails.EditAccountActivity" />

        <service
            android:name=".customLibs.downloadService.DownloadFileService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name=".utilities.FileProviderShare"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>